In [5]:
import pandas as pd
import os
from geopy.geocoders import ArcGIS
os.listdir()

['supermarkets-semi-colons.txt',
 'supermarkets.json',
 'test_data.csv',
 'supermarkets-commas.txt',
 '.ipynb_checkpoints',
 'Geocoding_exercise.ipynb',
 'Supermarkets_exercise.ipynb',
 'supermarkets.zip',
 'supermarkets.csv',
 'supermarkets.xlsx']

In [7]:
nom = ArcGIS()

In [12]:
n = nom.geocode("209 Wunderlich Way, Coleville, CA 96107")
n.latitude
n.longitude

-119.50113102770463

In [10]:
df = pd.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [13]:
df.loc[:,"Address":"Country"]

           Address           City             State Country
0     3666 21st St  San Francisco          CA 94114     USA
1   735 Dolores St  San Francisco          CA 94119     USA
2      332 Hill St  San Francisco  California 94114     USA
3     3995 23rd St  San Francisco          CA 94114     USA
4  1056 Sanchez St  San Francisco        California     USA
5  551 Alvarado St  San Francisco          CA 94114     USA

In [16]:
df["Full_Address"] = df["Address"] + ", " + df["City"] + ", " + df["State"] + ", " + df["Country"]

In [17]:
df

,ID,Address,City,State,Country,Name,Employees,Full_Address
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA"

In [23]:
df["Coordinates"] = df["Full_Address"].apply(nom.geocode)

In [26]:
df.Coordinates[0]

Location(3666 21st St, San Francisco, California, 94114, (37.756648011392286, -122.42937496976432, 0.0))

In [30]:
type(df.Coordinates[0])

geopy.location.Location

In [35]:
df["Latitude"] = df["Coordinates"].apply(lambda x: x.latitude)

In [36]:
df

,ID,Address,City,State,Country,Name,Employees,Full_Address,Coordinate,Coordinates,Latitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA","(3666 21st St, San Francisco, California, 9411...","(3666 21st St, San Francisco, California, 9411...",37.756648
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA","(735 Dolores St, San Francisco, California, 94...","(735 Dolores St, San Francisco, California, 94...",37.757819
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA","(332 Hill St, San Francisco, California, 94114...","(332 Hill St, San Francisco, California, 94114...",37.755875
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA","(3995 23rd St, San Francisco, California, 9411...","(3995 23rd St, San Francisco, California, 9411...",37.752922
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA","(1056 Sanchez St, San Francisco, California, 9...","(1056 Sanchez St, San Francisco, California, 9...",37.752131
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA","(551 Alvarado St, San Francisco, California, 9...","(551 Alvarado St, San Francisco, California, 9...",37.753511

In [37]:
df["Longitude"] = df["Coordinates"].apply(lambda x: x.longitude)

In [38]:
df

,ID,Address,City,State,Country,Name,Employees,Full_Address,Coordinate,Coordinates,Latitude,Longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA","(3666 21st St, San Francisco, California, 9411...","(3666 21st St, San Francisco, California, 9411...",37.756648,-122.429375
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA","(735 Dolores St, San Francisco, California, 94...","(735 Dolores St, San Francisco, California, 94...",37.757819,-122.425337
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA","(332 Hill St, San Francisco, California, 94114...","(332 Hill St, San Francisco, California, 94114...",37.755875,-122.428816
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA","(3995 23rd St, San Francisco, California, 9411...","(3995 23rd St, San Francisco, California, 9411...",37.752922,-122.431697
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA","(1056 Sanchez St, San Francisco, California, 9...","(1056 Sanchez St, San Francisco, California, 9...",37.752131,-122.430028
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA","(551 Alvarado St, San Francisco, California, 9...","(551 Alvarado St, San Francisco, California, 9...",37.753511,-122.433229